.detail-wrapper {
    margin-top: 1em;
    border-top: 2px solid yellow;
    color: white;
}
.detail-elements {
    margin-left: 1em;
}
.table-detail-wrapper {
    margin-top: 1em;
    max-height: 40vh;
    overflow-y: scroll;
}
.detail-table {
    color: white;
    background-color: #343a40;
    max-height: 40vh;
}
.info-header {
    margin-top: 1em;
    display: inline-block;
}
.btn-leave-sq {
    float: right;
    margin-top: 2em;
    margin-right: 1em;
}
@media screen and (max-width: 525px){
    .detail-wrapper {
        width: 100%;
    }
}
