.bite-code-entry
{
    color: white;
    margin: 1em;
}

.gps-input
{
    display: flex;
    flex-direction: row;
}
.lat {
    width: 45%;
    margin: auto;
}
.long {
    width: 45%;
    margin: auto;
}

.bite-code-title {
    margin-left: 1em;
}
