
.list-items {
    background-color: #343a40;
    border: 1px solid yellow;
    overflow-wrap: break-word;
}
.chat {
    position: fixed;
    bottom: 0;
    right: 1em;
    margin-top: 2em;
    margin-left: auto;
    background-color: #262a2f;
    color: white;
    border: 2px solid yellow;
    border-radius: 6px;
    width: 30em;
    float: right;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 50em) auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
}
.chat-header {
    grid-area: header;
    grid-row: 1 / 2;
}
.chat-body {
    grid-area: main;
    overflow: auto;
}
.chat-footer {
    grid-area: footer;
    grid-row: 6 / 7;
}
.player-chat {
    margin: 0;
    font-size: 14px;
    color: #d0d0d0;
}
.text-chat {
    margin: 0;
}
.input-message{
    margin-left: 1em;
    display: inline-block;
    width: 80%;
    border: 1px solid white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.msg-form {
    margin-top: 1em;
}
.hide-btn {
    float: right;
    background-color: #26292f;
    color: yellow;
    border: 1px solid yellow;
    height: 40px;
}
.btn-submit {
    margin-right: 1em;
    background-color: #26292f;
    color: yellow;
    border: 1px solid yellow;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.chat-btn {
    height: 4em;
    width: 4em;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 40px;
    color: #26292f;
    box-shadow: .2em .2em .7em black;

}
.chat-btn-container {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
.btn-customize {
    background-color: yellow;
    color: black;
}
.btn-customize:hover {
    background-color: #bcbc00;
    color: black;
}
.grouped-btns{
    border-radius: 10px;
}
.btn-group {
    background-color: #161616;
    color: yellow;
    border: 2px solid #262a2f;
}
.btn-group:hover {
    background-color: #bcbc00;
    color: black;
}
.btn-selected {
    background-color: #bcbc00;
    color: black;
    border: 2px solid #262a2f;
}
.chat-title {
    padding-left: 1em;
}
.chat-form {
    display: flex;
}

@media screen and (max-width: 900px) {
    .chat {
        width: 91%;
    }
    .list {
        height: 20em;
    }
}
