.squad-container {
    padding-top: .5em;
    color: white;
}
.squad-elements {
    margin-left: 1em;
}
.squad-form {
    display: flex;
    flex-direction: row;
}
.squad-input{
    display: inline-block;
    width: 50%;
    border: 1px solid white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.squad-input-btn
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.table-wrapper {
    max-height: 40vh;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
}
.squad-table{
    background-color: #343a40;
    color: white;
}

.squad-name {
    overflow-wrap: break-word;
}

.squad-input-group
{
    display: flex;
}

@media screen and (max-width: 900px){
    .squad-container {
        width: 100%;
    }
}

@media screen and (max-width: 525px){
    .squad-table{
        width: 100%;
    }
}
