.games-card {
    background-color: #343a40;
    color: #ffffff;
    border-top: 1px solid rgba(255,255,0, 1);
    cursor: pointer;
}

.games-card-body
{
    border-top: 1px solid rgba(255, 255, 0, 1);
    background-color: #26292f;
}

.games-div
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.games-button-div
{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .games-div {
        flex-direction: column;
    }
}
