.gameList
{
    width: 75%;
    margin-top: 4em;
    margin-left: 12.5%;
    height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 75px rgba(0,0,0,0.5);
    border: 2px solid yellow;
    border-radius: 10px;
}

.listText
{
    margin-top: 1.5em;
    color: white;
    text-align: center;
}
