/* Navbar container */
.navbar {
    overflow: hidden;
    padding: 1.5em;
    border-bottom: 3px solid rgb(255, 255, 0); /*EDIT this part*/
}

.loginButton
{
    color: white;
    border: 1px solid rgb(255, 255, 0);
}

.loginButton:hover
{
    background-color: yellow;
    color: black;
    border: 1px solid rgb(255, 255, 0);
}

.helloMsg{
    color: white;
    padding-right: 1em;
}
