.game-detail-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
.main-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: auto;
    left: 0;
}
.game-detail-title{
    margin: 1em;
    margin-top: 1em !important;
    width: 40%;
}
.game-detail-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1em;
}
.game-detail-map {
    margin-top: 1em;
}
.bite-code {
    border-top: 2px solid yellow;
    margin-top: 1em;
    padding-top: .5em;
    width: 40%;
}
.squad-detail {
    border-top: 2px solid yellow;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
    margin-left: auto;
    width: 58%;
}
.squad-registration {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    width: 60%;
}
.chat2 {
    position: relative;
    z-index: 10000;
}

@media screen and (max-width: 900px){
    .game-detail-title{
        margin: 0;
        width: 100%;
    }
    .game-detail-page{
        flex-direction: column;
    }
    .game-detail-content{
        flex-direction: column;
        margin: 0;
    }
    .bite-code{
        width: 100%;
    }
    .squad-detail{
        width: 100%;
        margin-left: 0;
    }
    .squad-registration{
        width: 100%;
        margin-left: 0;
    }

}
