.admin-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 2em;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 10em;
    color: white;
}
.text
{
    text-align: center;
    color: white;
    margin-top: 1em;
}
.players {
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    border: 1px solid yellow;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0 75px rgba(0,0,0,0.5);
}

.dropdown-list
{
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 5em;
    max-height: 10em;
}

.missions {
    grid-column: 2 / 2;
    grid-row: 4 / 6;
    border: 1px solid yellow;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0 75px rgba(0,0,0,0.5);
}
.games {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    border: 1px solid yellow;
    background-color: #343a40;
    border-radius: 10px;
    height: 52em;
    box-shadow: 0 0 75px rgba(0,0,0,0.5);
}

.list-display{
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    height: 19em;
}

.list-display-game{
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    height: 50em;
}
.list-btn {
    float: right;
}

.list-item
{
    background-color: #26292f;
    color: white;
    border: 1px solid yellow;
}

.list-item:hover
{
    background-color: #26292f;
    color: white;
}
.list-item:focus
{
    background-color: #26292f;
    color: white;
}

.create-btn{
    float: right;
    margin: 0.5em 0.5em 0 auto;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5em;
}
.header-content-mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5em;
}
.header-search {
    width: 15em;
}
.header-search-mission {
    width: 15em;
}

/*Modal*/
.modal-content{
    background-color: #343a40;
    border: 1px solid yellow;
    color: white;
}
.reg-modal-header{
    border-bottom: 1px solid yellow;
}
.reg-modal-body{
    background-color: #26292f;
    border-bottom: 1px solid yellow;
}
.close {
    color: white;
}
.close:hover {
    color: yellow;
}

.game-form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.game-form-input {
    width: 12em;
    margin-bottom: 1em;
}
.modal-footer {
    border-top: none;
}
.delete-btn {
    margin-right: auto;
}

@media screen and (max-width: 700px){
    .admin-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        text-align: center;
        margin-left: 2em;
        margin-right: 2em;
        grid-auto-rows: minmax(100px, auto);
    }
    .games {
        grid-column: 1 / 1;
        grid-row: 1 / 3;
        border: 1px solid yellow;
        background-color: #343a40;
        border-radius: 10px;
        box-shadow: 0 0 75px rgba(0,0,0,0.5);
        height: 25em;
    }
    .missions {
        grid-column: 1 / 1;
        grid-row: 5 / 7;
        border: 1px solid yellow;
        background-color: #343a40;
        border-radius: 10px;
        box-shadow: 0 0 75px rgba(0,0,0,0.5);
    }
    .players {
        grid-column: 1 / 1;
        grid-row: 3 / 5;
        margin-top: 1em;
        border: 1px solid yellow;
        background-color: #343a40;
        border-radius: 10px;
        box-shadow: 0 0 75px rgba(0,0,0,0.5);
        height: 30em;
    }
    .header-search{
        width: 80%;
        margin: .1em auto 0 auto;
    }
    .list-display-game {
        height: 25em;
    }
    .header-content{
        flex-direction: column;
        justify-content: center;
    }
    .btn-admin-page {
        width: 20%;
        margin: 0 auto .5em auto;
    }
}
